.idea
venv/
logs/*
applications/**/venv/
#
infrastructure/plan.out
infrastructure/plan.cache
infrastructure/plan.log
infrastructure/*.tfstate
infrastructure/.terraform/
#
organization/plan.out
organization/plan.cache
organization/plan.log
organization/*.tfstate
organization/.terraform/
#
